picture {
    width: 150px;
    height: 200px;

}
#principal,
#competencias,
#equipo,
#enlaces,
#contacto {
    padding-top: 60px;
    /*min-height: 700px;*/
}
.navbar a {
    font-weight: bold;
    }
.navbar-dark {
    background-color:black;
}
h1, h2, h3, h4, h5, h6, .navbar, .modal {
    font-family: 'Sans.serif', cursive;
    }
