h1 a{
  display: table-cell;
  vertical-align:middle;
  font-family: impact;
  font-size:32px;
  text-transform: uppercase;
  color:#12b422;

}
.miestilo {
  background-color: green;
}
@media (max-width: 768px) {
  .miestilo {
      background-color: red;
  }
} 
 